<footer class="footer">
  <center>
    <small class="footer-text">
      <br>
      <div class="fonts">
      |  <a href="https://www.facebook.com/Sankhalifa.33"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="https://github.com/sankalpa-sys"><i class="fab fa-github fa-lg"></i></a>
        <a href="https://www.instagram.com/_sankalpa_neupane/"><i class="fab fa-instagram fa-lg"></i></a> |
        &copyBlog 2021 |
      </div>
    </small>
  </center </footer>

  <style>
    .footer-text {
      text-align: center;
      letter-spacing: 3px;
      word-spacing: 1px;
    }

    .fonts{
      text-align: center;
      word-spacing: 5px;
    }
    a{
      color: black;
    }
  </style>
